body {
  padding-top: 60px;
}

.navbar {
 min-height: 60px;
}

.navbar-brand {
  align-items: center;
  display: flex;
 /* padding: 5px 20px; */
  width: auto;
  height: 100%;
  /* height: 60px;
  line-height: 60px; */
}

/* First property makes "Donate" button look vertically centered, second property sets its color */
button.navbar-btn{
  /* align-items: center;
  display: flex;
  margin-top: 20px;
  margin-left: 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

/* @media (min-width: 768px) { */
.my-nav-padding {
 /* (60px - line-height of 27px) / 2 = 26.5px */
 margin-top: 20px;
 /* top: 50%; */
}
/* } */
