
/* .navbar {
  min-height: 100px !important;
  background-color: #ffffff;
} */

/* .nav-items {
  left: 40%;
  position: absolute;
} */
/* .my-toggler {
  left: 80%;
  position: absolute;
} */

/* a.navbar-brand {
  transform: translateX(-50%);
  left: 25%;
  position: absolute;
  display: block;
  padding: 3px 0px;
} */

.btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  background-color: #344a9f;
  border-color: #344a9f;
}
.btn-primary:hover {
  background-color: #162044;
  border-color: #162044;
}

.jumbotron{
  background-color: #d42927;
}

.logo {
  height: 44px;
}
body {
  padding-top: 50px;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .logo {
    height: 94px;
  }
  body {
    padding-top: 100px;
  }
  .nav-item {
    margin-left: 30px;
  }
}
